.welcome {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    .welcome-message {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
  }