<ion-card style="max-width: 700px; margin: auto; margin-bottom: 20px;">
  <ion-card-header>
    <ion-card-title>{{pool.name}}</ion-card-title>
    <ion-card-subtitle>{{pool.users.length}} member<span [hidden]="pool.users.length == 1">s</span></ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    <ion-list *ngIf="currentUser">
      <ng-container *ngFor="let user of poolUsers">
        <ion-item-sliding [disabled]="appService.isAfterCeremonyStart || pool.creator !== currentUser.uid || user.uid === currentUser.uid ">
          <ion-item [routerLink]="user.uid === currentUser.uid ? ['/ballot'] : null" detail="false" [lines]="appService.isAfterCeremonyStart ? 'none' : 'full'">
            <app-picks-status *ngIf="pool.creator === currentUser.uid && appService.isBeforeCeremony" slot="start" [user]="user"></app-picks-status>
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" [src]="user.photoURL || 'https://ionicframework.com/docs/img/demos/avatar.svg'"  />
            </ion-avatar>
            <ion-label style="display: flex; align-items: center; gap: 10px;">
              <ion-icon *ngIf="appService.isAfterCeremonyStart && appService.itsOver && user.points === poolUsers[0].points" color="warning" name="trophy"></ion-icon>
              {{user.displayName}}
              <ion-icon *ngIf="user.uid == pool.creator" name="star"></ion-icon>
            </ion-label>
            <ion-chip *ngIf="appService.isAfterCeremonyStart" color="secondary">{{user.points}}</ion-chip>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="danger" (click)="removeFromPool(user, 'Remove user from pool?')">Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-progress-bar *ngIf="appService.isAfterCeremonyStart" 
          [value]="getProgress(user)" 
          [color]="user.gotLastAwardCorrect ? 'success' : 'danger'">
        </ion-progress-bar>
      </ng-container>
    </ion-list>
    <div style="display: flex; justify-content: end; margin-top: 15px;">
      <ion-button *ngIf="appService.isBeforeCeremony"(click)="inviteOthers()" fill="outline">
          <ion-icon name="share-social" slot="start"></ion-icon>
          Invite 
      </ion-button>
      <ion-button *ngIf="appService.isBeforeCeremony"(click)="leavePool()" fill="clear">
          Leave Pool
      </ion-button>
      <ion-button *ngIf="appService.isAfterCeremonyStart" [id]="'open-modal'+pool.id" fill="outline">
          <ion-icon name="star" slot="start"></ion-icon>
          Superlatives
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>

<ion-modal [trigger]="'open-modal' + pool.id" (willPresent)="compileStats()" (willDismiss)="unsub()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{pool.name}} Stats</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeStats()" [strong]="true">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list style="max-width: 700px; margin: auto;">
        <ion-item>
          <ion-label>
            <h1 style="display: flex; align-items: center; gap: 10px;">
              <ion-icon color="warning" name="trophy"></ion-icon>Knows Acting Award
            </h1>
            <p class="ion-text-wrap">Correctly predicted the most acting categories</p>
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let winner of knowsActingWinner">
          <ion-avatar slot="start">
            <img [src]="winner.user.photoURL || 'https://ionicframework.com/docs/img/demos/avatar.svg'"/>
          </ion-avatar>
          <ion-label>{{winner.user.displayName}}</ion-label>
          <ion-label slot="end">{{winner.points}}/4 correct!</ion-label>
        </ion-item>
      </ion-list>
      <ion-list style="max-width: 700px; margin: auto; margin-top: 20px;">
        <ion-item>
          <ion-label>
            <h1 style="display: flex; align-items: center; gap: 10px;">
              <ion-icon color="warning" name="trophy"></ion-icon>Dark Horse Award
            </h1>
            <p class="ion-text-wrap" style="display: flex; align-items: center;">
              Correct predictions went against the grain of the rest of the pool <ion-button id="dark-horse-info" fill="clear" size="small" shape="round"><ion-icon slot="icon-only" name="information-circle-outline"></ion-icon></ion-button> 
            </p>
            <ion-popover trigger="dark-horse-info" triggerAction="click">
              <ng-template>
                <ion-content class="ion-padding">For each award, one point was divided amongst the players that got it correct. So if four players got it, they'd each receive 0.25 points, but if only one player got it, she would receive the full point. Highest score at the end is the winner.</ion-content>
              </ng-template>
            </ion-popover>
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let winner of darkHorseWinner">
          <ion-avatar slot="start">
            <img [src]="winner.photoURL || 'https://ionicframework.com/docs/img/demos/avatar.svg'"/>
          </ion-avatar>
          <ion-label>{{winner.displayName}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>